.section-contacts a {
  text-decoration: none;
}

.background {
  min-height: 100vh;
  backdrop-filter: blur(3px);
}

.section-heading{
  padding: 12rem 0 1.5rem;
  margin-bottom: 25rem;
}

.section-heading{
  text-align: center;
  text-shadow: #A6A4A4 2px 1px 3px;
  font-size: 2.5rem;
  color: #FFF8F2;
}


.section-description{
  background-size:cover;
  background: rgba(205, 214, 219, 0.8);
  padding: 2rem 0 1.5rem;
  margin-top: 5rem;
  text-align: left;
  color: #282A52;
}

.section-contacts{
  padding-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
  color: #F2F2F2;
}

.text-center{
  padding-top: 30%;
}

.showcase-img{
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
